using System;
using System.Linq.Expressions;
using System.Reflection;

using Castle.Windsor;
using Hangfire;
using Hangfire.MemoryStorage;
using Infrastructure.Application;
using Microsoft.AspNet.SignalR;
using Owin;

using Infrastructure.Events;
using Infrastructure.Logging;
using Infrastructure.Application.Hosting.WebApi.SelfHost;

using CaldaiaBackend.SelfHosted.Hangfire;
using CaldaiaBackend.SelfHosted.Installers;

namespace CaldaiaBackend.SelfHosted
{
    /// <summary>
    /// In this class you will complete the configuration of the container and
	/// the WebApiAppRunner.
	/// 
	/// In this file you may want to review the "ContainerSetup" and the "WebApiSetup" 
	/// methods to configure the whole application.
    /// </summary>
    public class Application : IApplication, IDisposable
    {
        private readonly IWindsorContainer _container;
        private readonly ILogger logger;
        private readonly ILoggerFactory loggerFactory;
        private WebApiAppRunner runner;

        private readonly Environments _environment;
        private readonly Config _config;

        public Application(
            IWindsorContainer container,
            Environments environment,
            Config config
            )
        {
            _environment = environment;
            _config = config;
            _container = container;

            try 
			{
			    loggerFactory = _container.Resolve<ILoggerFactory>();
			} catch {
			    loggerFactory = new NullLoggerFactory();
			}
            logger = loggerFactory.CreateNewLogger(Assembly.GetExecutingAssembly().GetName().Name);
        }

        /// <summary>
        /// The entrypoint for the application
        /// </summary>
        public void Start()
        {
            ContainerSetup();

            var webAppOptions = WebApiSetup();
            StartWebApplication(webAppOptions);
        }
		
        /// <summary>
        /// Finish application composition
        /// </summary>
        private void ContainerSetup()
        {
			// ADD YOUR CONTAINER CONFIGURATION HERE //
            _container.Install(new InfrastructureInstaller(_config.enableAuth));

            _container.CheckConfiguration();
        }

		/// <summary>
		/// Creates the SelfHostWebApiOptions object that will be used to
		/// run the application.
		/// </summary>
        private SelfHostWebApiOptions WebApiSetup()
        {
            var webAppOptions = new SelfHostWebApiOptions
            {
                DeployUrl = _config.deployUrl,
                ListenOnPort = _config.port,
                BaseUrl = _config.baseUrl,
                EnableWebApiTracing = false,
                EnableHttpLogging = false,

                TokenIssuer = _config.authTokenIssuer,
                TokenScope = "urn:gl-services-infrastructure",

                EnableAutoApi = true,
                AutoApiEnableAuthorize = _config.enableAuth,
                AutoApiRoutePrefix = "infrastructure/api",

                CustomWebApiConfig = httpConfiguration => { httpConfiguration.UseCastleWindsor(_container); },

                CustomOwinConfig = appBuilder =>
                {
                    SetupSignalR(appBuilder, _config.deployUrl);

                    ConfigureHangfire(appBuilder, _config.deployUrl);

                    SetupHangfireJobs();
                }
            };
            return webAppOptions;
        }


        private void SetupHangfireJobs()
        {
		    // SETUP YOUR SCHEDULED JOBS HERE //
            // RegisterHangfireJob<SomeJob>(j => j.Execute(), Cron.Never);
        }


        private void StartWebApplication(SelfHostWebApiOptions webAppOptions)
        {
            var dispatcher = _container.Resolve<IEventDispatcher>();
            runner = new WebApiAppRunner(
                webAppOptions,
                dispatcher,
                loggerFactory
            );

            logger.Warning($"{Environment.NewLine}Starting in {_environment} environment with config:{Environment.NewLine}{_config}");

            runner.Start();

            logger.Info("Started!");
        }

        public void Stop()
        {
            runner.Stop();
            logger.Info($"{Assembly.GetExecutingAssembly().GetName().Name} Stopped!");
        }

        private void ConfigureHangfire(IAppBuilder appBuilder, string deployUrl)
        {
            GlobalConfiguration.Configuration.UseMemoryStorage();
            GlobalConfiguration.Configuration.UseLogProvider(new InfrastructureLogProvider(loggerFactory, LogLevel.Warning));
            GlobalConfiguration.Configuration.UseActivator(new CastleJobActivator(_container));

            GlobalJobFilters.Filters.Add(new AutomaticRetryAttribute { Attempts = 0, OnAttemptsExceeded = AttemptsExceededAction.Delete });
            GlobalJobFilters.Filters.Add(new DisableConcurrentExecutionAttribute(1));
            var options = new BackgroundJobServerOptions
            {
                WorkerCount = 1
            };

            var hangfireUri = "/hangfire";

            appBuilder.UseHangfireServer(options);
            appBuilder.UseHangfireDashboard(hangfireUri);
            logger.Info($"Hangfire dashboard available at {deployUrl}{hangfireUri}");
        }

        private void SetupSignalR(IAppBuilder appBuilder, string deployUrl)
        {
            const string signalrBase = "/signalr"; // <- MUST contain the leading slash !!!
            appBuilder.MapSignalR(signalrBase, new HubConfiguration());
            logger.Info($"SignalR started on {deployUrl}{signalrBase}");
        }

        private void RegisterHangfireJob<TJob>(Expression<Action<TJob>> methodCall, Func<string> schedule)
        {
            RecurringJob.AddOrUpdate(typeof(TJob).Name, methodCall, schedule, TimeZoneInfo.Local);
            logger.Info($"Registered job [{typeof(TJob).Name,-25}] @ {schedule()}");
        }

        public void Dispose()
        {
            runner?.Stop();
        }
    }
}

