{
	"deployHost": "localhost",
	"port": 58009,
	"baseUrl": "CaldaiaBackend.SelfHosted",
	"authTokenIssuer": "http://auth-test.loccioni.com/Loccioni.Autenticazione.Service",
  "enableAuth": false,
  "smtpErrorNotifierConfigPath":  "config-email.secret.json"
}