<div style="margin:0;">
  <app-temp-chart name="Accumulo" data-endpoint="../api/meters/analog/ROTEX_TEMP_ACCUMULO"></app-temp-chart>
  <app-temp-chart name="Pannelli" data-endpoint="../api/meters/analog/ROTEX_TEMP_PANNELLI"></app-temp-chart>
  <app-temp-chart name="Camino" data-endpoint="../api/meters/analog/CAMINO_TEMPERATURA"></app-temp-chart>
</div>

<div style="display: inline-block; width: 100vw; padding: 0; margin-left: 2em; margin-right: 0em; margin-top: 1em;">
  <pre style="font-size:2.5em">{{consoleOut}}</pre>
</div>

<router-outlet></router-outlet>