<div style="margin-left: 8em; margin-right: 8em;margin-top: 5.5em;">
    <pre style="font-size:3.25em">
 Temperatura Accumulo : {{tAccumulo}}             
   Temperatura Camino : {{tCamino}}                   
 Temperatura Pannelli : {{tPannelli}}               
  Termostato Ambienti : {{termoAmbienti}}    
     Termostato Rotex : {{termoRotex}}
         Pompa Camino : {{rPompaCamino}}
       Pompa Pannelli : {{pompaPannelli}}
Bypass Termo Ambienti : {{termoAmbienti}}
    </pre>
</div>
<!-- <div>
  <div class="card" *ngFor="let item of state">
    <p class="card-header">{{item.name}}</p>
    <p class="card-body">{{item.formattedValue}}</p>
    <p class="card-body">{{item.utcTimeStamp}}</p>
  </div>
</div> -->
<router-outlet></router-outlet>
