<p-panel [toggleable]="true">
  <p-header>Accumulators</p-header>
  <div class="fluid-container">
    <div class="row justify-content-center">
      <p-card class="chart col-sm-12 col-md-6 col-lg-4" [title]="chartData.header" *ngFor="let chartData of allChartsData">
        <p-chart type="bar" [data]="chartData"></p-chart>
      </p-card>
    </div>
  </div>
</p-panel>

<p-panel [toggleable]="true">
  <p-header>Temperatures</p-header>
  <div class="fluid-container">
    <div class="row justify-content-center">
      <p-card class="chart col-sm-12 col-md-6 col-lg-4" [title]="chartData.header" *ngFor="let chartData of allTempChartsData">
        <p-chart type="line" [data]="chartData"></p-chart>
      </p-card>
    </div>
  </div>
</p-panel>