<p-dialog header="Errore" [dismissableMask]="false" [closable]="false" [closeOnEscape]="false" [modal]="true"
    [(visible)]="showDisconnectedDialog" [blockScroll]="true">
    <p-panel>
        <p-header>
            <span>Il backend non è raggiungibile.</span>
        </p-header>
        <span>{{signalrStatus}} </span> <i class="pi pi-refresh pi-spin"></i>
    </p-panel>
</p-dialog>

<div class="fluid-container">
    <div class="row">
        <p-tabView class="col-md-12" (onChange)="onTabViewChange($event)">
            <p-tabPanel header="Dispositivi">

                <div class="row">
                    <p-toolbar class="col-md-12 col-lg-12">
                        <div class="ui-toolbar-group-left">
                            <button pButton type="button" class="ui-button-success" icon="pi pi-refresh" label="letto alle: {{data.timestamp | date:'HH:mm:ss' }}"
                                (click)="refreshData()"></button>
                        </div>
                    </p-toolbar>
                </div>

                <div class="row justify-content-center main-content">
                    <div class="col-md-4 col-lg-3 device">
                        <p-panel header="Camino">
                            <div class="monitor">
                                <i *ngIf="data.outOverrideTermoAmbienteValue" style="vertical-align: center; font-size: 0.8em; color: orange"
                                    class="pi pi-exclamation-triangle"></i>
                                <span>{{data.ainTempCaminoValueCentigradi}}&deg;C</span>
                                <i [ngClass]="{'pi-spin': data.outPompaCaminoValue}" [ngStyle]="{'color': data.outPompaCaminoValue ? 'green' : 'gray'}"
                                    class="pi pi-cog"></i>

                            </div>
                        </p-panel>
                    </div>
                    <div class="col-md-4 col-lg-3 device">
                        <p-panel header="Accumulo Rotex">
                            <div class="monitor">{{data.rotexTS}}&deg;C</div>
                        </p-panel>
                    </div>
                    <div class="col-md-4 col-lg-3 device">
                        <p-panel header="Pannelli Solari">
                            <div class="monitor">
                                {{data.rotexTK}}&deg;C
                                <i [ngClass]="{'pi-spin': data.rotexP1}" [ngStyle]="{'color': data.rotexP1 ? 'green' : 'gray'}"
                                    class="pi pi-cog"></i>
                            </div>
                        </p-panel>
                    </div>
                    <div class="col-md-4 col-lg-3 device">
                        <p-panel header="Caldaia">
                            <div class="monitor"><i [ngClass]="{'pi-spin': data.outCaldaiaValue}" [ngStyle]="{'color': data.outCaldaiaValue ? 'green' : 'gray'}"
                                    class="pi pi-cog"></i></div>
                        </p-panel>
                    </div>
                    <div class="col-md-4 col-lg-3 device">
                        <p-panel header="Riscaldamento">
                            <div class="monitor">
                                <i *ngIf="data.outOverrideTermoAmbienteValue" style="vertical-align: center; font-size: 0.8em; color: orange"
                                    class="pi pi-exclamation-triangle"></i>
                                <i [ngClass]="{'pi-spin': data.outPompaValue}" [ngStyle]="{'color': data.outPompaValue ? 'green' : 'gray'}"
                                    class="pi pi-cog"></i></div>
                        </p-panel>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="Impostazioni">
                <div class="row">
                    <p-toolbar class="col-md-12">
                        <div class="ui-toolbar-group-left">
                            <button pButton type="button" icon="pi pi-refresh" label="{{settings.timestamp | date:'HH:mm:ss' }}"
                                (click)="refreshSettings()"></button>
                            <span> </span>
                            <button pButton type="button" icon="pi pi-save" label="Salva impostazioni" (click)="saveSettings()"></button>
                        </div>
                    </p-toolbar>
                </div>

                <div class="row main-content">
                    <div class="col-md-6 col-lg-4 device">
                        <p-panel header="Temperature Intervento Caldaia">
                            <p-card>
                                <p-header>Spegne la caldaia se l'accumulo ROTEX supera</p-header>
                                <div class="parameter-block">
                                    <button pButton type="button" icon="pi pi-angle-up" (click)="incrementRotexTermoMax()"></button>
                                    <div class="parameter-value">{{settings.rotexTermoMax}} &deg;C</div>
                                    <button pButton type="button" icon="pi pi-angle-down" (click)="decrementRotexTermoMax()"></button>
                                </div>
                            </p-card>
                            <p-card>
                                <p-header>Accende la caldaia se l'accumulo ROTEX scende sotto a</p-header>
                                <div class="parameter-block">
                                    <button pButton type="button" icon="pi pi-angle-up" (click)="incrementRotexTermoMin()"></button>
                                    <div class="parameter-value">{{settings.rotexTermoMin}} &deg;C</div>
                                    <button pButton type="button" icon="pi pi-angle-down" (click)="decrementRotexTermoMin()"></button>
                                </div>
                            </p-card>
                        </p-panel>
                    </div>

                    <div class="col-md-6 col-lg-4 device">
                        <p-panel header="Bypass Termostato Riscaldamento">
                            <p-panel header="Attiva se Accumulo Rotex raggiunge">
                                <div class="parameter-block">
                                    <div class="parameter-value">{{settings.rotexMaxTempConCamino}} &deg;C</div>
                                </div>
                            </p-panel>
                            <p-panel header="Disattiva se Accumulo Rotex scende sotto">
                                <div class="parameter-block">
                                    <div class="parameter-value">{{settings.rotexMinTempConCamino}} &deg;C</div>
                                </div>
                            </p-panel>
                        </p-panel>
                    </div>

                    <div class="col-md-6 col-lg-4 device">
                        <p-panel header="Temperatura Camino">
                            <p-panel header="La temperatura del camino viene acquisita ogni">
                                <div class="parameter-block">
                                    <div class="parameter-value">{{settings.TEMP_SAMPLING_INTERVAL}} ms</div>
                                </div>
                            </p-panel>
                        </p-panel>
                    </div>

                    <div class="col-md-6 col-lg-4 device">
                        <p-panel header="Isteresi Caldaia">
                            <p-panel header="Se la caldaia parte, rimane accesa almeno per">
                                <div class="parameter-block">
                                    <div class="parameter-value">{{settings.T_ISTERESI_CALDAIA}} ms</div>
                                </div>
                            </p-panel>
                        </p-panel>
                    </div>
                </div>
            </p-tabPanel>
            
            <p-tabPanel header="Stats">
                <app-stats-graph></app-stats-graph>
            </p-tabPanel>
            
            <p-tabPanel header="Terminale"  [cache]="false">
                <div class="row">
                    <p-toolbar class="col-md-12 col-lg-12">
                        <div class="ui-toolbar-group-left">
                            <button pButton type="button" class="ui-button-success" icon="pi pi-caret-right" label="poller"
                                (click)="pausePoller()"></button>
                        </div>
                    </p-toolbar>
                </div>

                <app-terminal *ngIf="selectedTab ? selectedTab.index == 3 : false"></app-terminal>

            </p-tabPanel>

        </p-tabView>
    </div>

    <div class="row">
        <p-panel header="Raw Data" class="col-md-12 col-lg-6" toggler="header" toggleable="true" collapsed="true">
            <pre>{{data | json}}</pre>
        </p-panel>
        <p-panel header="Raw Settings" class="col-md-12 col-lg-6" toggler="header" toggleable="true" collapsed="true">
            <pre>{{settings | json}}</pre>
        </p-panel>
    </div>